<h2>Hi <%= session[:username] %></h2>
<p>There's not a lot you can do here yet, 
but sit tight and we'll add some shiney things to click on.</p>
<p><%=(session[:username] == 'nfriedly') ? '<a href="/monitor_records">Records</a>' : '' %></p>